<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

</head>
<body>
<header th:replace="layout :: site-header"/>

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Rejestracja</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="@{/register/new}" th:object="${registerForm}">

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email"  placeholder="Podaj swój email" th:value="*{email}" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userName" class="cols-sm-2 control-label">Nazwa użytkownika</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="userName" id="userName"  placeholder="Podaj nazwę użytkownika" th:value="*{userName}" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Hasło</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Podaj hasło" th:value="*{password}" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" th:href="@{/register/new}" class="btn btn-primary btn-lg btn-block login-button">Zarejestruj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer"/>
</body>
</html>