<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

</head>
<body class="page">
<header th:replace="layout :: site-header"/>

<div class="container-fluid page">

    <div class="page-header page-header-custom">
        <div class="btn-toolbar pull-right">
            <a class="btn btn-primary" href="/auth/my-expenses/new" role="button">
                Nowy wydatek</a>
        </div>
        <h1 class="page-header-custom">Moje wydatki</h1>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Wydatek</th>
            <th>Waluta</th>
            <th>Data</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exp,iterationStatus  : ${expenses}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${exp.name}"></td>
            <td th:text="${exp.expense}"></td>
            <td th:text="${exp.currency}"></td>
            <td th:text="${exp.date}"></td>
            <td>
                <ul>
                    <li><a th:href="@{'/auth/my-expenses/' + ${exp.id} +'/edit'}">Edytuj</a></li>
                    <li><a th:href="@{'/auth/my-expenses/' + ${exp.id} +'/delete'}">Usuń</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="layout :: site-footer"/>
</body>
</html>