<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

</head>
<body class="page">
<header th:replace="layout :: site-header"/>

<div class="container-fluid page">

    <div class="page-header page-header-custom">
        <div class="btn-toolbar pull-right">
            <a class="btn btn-primary" href="/auth/my-expenses/new" role="button">
                Nowy wydatek</a>
        </div>
        <h1 class="page-header-custom">Moje wydatki</h1>
    </div>

    <div class="page-header page-header-custom" th:if="${#lists.isEmpty(expenses)}">
        <h3 class="page-header-custom">Brak wydatków</h3>
    </div>

    <table class="table table-hover" th:if="${not #lists.isEmpty(expenses)}">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Wydatek</th>
            <th>Waluta</th>
            <th>Data</th>
            <th>Kategoria</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exp,iterationStatus  : ${expenses}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${exp.name}"></td>
            <td th:text="${exp.expense}"></td>
            <td th:text="${exp.currency}"></td>
            <td th:text="${exp.date}"></td>
            <td th:text="${exp.category.displayName}"></td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="anchor-no-underline" th:href="@{'/auth/my-expenses/' + ${exp.id} +'/edit'}">
                                Edytuj
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="anchor-no-underline" th:href="@{'/auth/my-expenses/' + ${exp.id} +'/delete'}">
                            Usuń
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${pages > 1}">
        <ul class="pagination" th:each="i : ${#numbers.sequence(1, pages)}">
            <li><a th:href="@{'/auth/my-expenses/page' + ${i}}" th:text="${i}"></a></li>
        </ul>
    </nav>

</div>

<footer th:replace="layout :: site-footer"/>
</body>
</html>