<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>

    <link rel="stylesheet" href="../public/css/email.css" th:href="@{/css/email.css}"/>

</head>
<body class="">
<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Witaj <span th:text="${username}"></span>,</p>
                                        <p th:text="${message}"></p>
                                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td> <a target="_blank" th:href="@{link}"><span th:text="${linkText}"></span></a> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p th:text="${secondaryMessage}"></p>
                                        <p>Splitter Team.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>

                <!-- START FOOTER -->
                <div class="footer">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span class="apple-link">Splitter, aplikacja do dzielenia i rozliczania kosztów</span>
                                <br><a href="http://localhost:8080/">Splitter</a>.
                            </td>
                        </tr>
                    </table>
                </div>
</div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>