<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="site-head">
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="../public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="icon" href="../public/img/favicons/favicon.ico" th:href="@{/img/favicons/favicon.ico}"/>

        <script src="../public/js/typed.js" th:src="@{/js/typed.js}"></script>
        <script src="../public/js/layout.js" th:src="@{/js/layout.js}"></script>
        <script src="../public/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>

        <meta th:include="this :: head" th:remove="tag"/>
        <title>Splitter</title>
    </head>
    <body>

        <header th:fragment="site-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Splitter: Dziel się przygodą!</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Znajomi</a></li>
                            <li><a href="#">Wyloguj się</a></li>
                            <li><a href="/login">Zaloguj się</a></li>
                            <li><a href="/register">Zarejestruj się</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid" id="messages" th:with="notifyMessages=${session[T(com.ootb.service.infotainment.notification.NotificationService).NOTIFY_MSG_SESSION_KEY]}">
                <div class="alert inline" th:each="msg : ${notifyMessages}" th:classappend="${#strings.toLowerCase(msg.cssClass)}" >
                    <strong th:text="${msg.strongText}"></strong>&nbsp;<div th:text="${msg.text}"></div>
                </div>
                <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(com.ootb.service.infotainment.notification.NotificationService).NOTIFY_MSG_SESSION_KEY)}" class="invisible"></span>
            </div>
        </header>

        <footer class="container-fluid text-center panel-footer" th:fragment="site-footer">
            <div class="copyrights" style="margin-top:25px;">
                <p>Adam Sabeł © 2016, All Rights Reserved
                    <br/>
                    <span>Web Design By: Adam Sabeł</span></p>
            </div>
        </footer>
    </body>
</html>
