<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="site-head">
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="../public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="icon" href="../public/img/favicons/favicon.ico" th:href="@{/img/favicons/favicon.ico}"/>

        <script src="../public/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
        <script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../public/js/typed.js" th:src="@{/js/typed.js}"></script>
        <script src="../public/js/layout.js" th:src="@{/js/layout.js}"></script>

        <meta th:include="this :: head" th:remove="tag"/>
        <title>Splitter</title>
    </head>
    <body>

        <header th:fragment="site-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Splitter: Dziel się przygodą!</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li sec:authorize="isAuthenticated()">
                                <div class="btn-group custom-btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Wydatki <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/auth/my-expenses">Moje wydatki</a></li>
                                        <li><a href="#">Wydatki ze znajomym</a></li>
                                        <li><a href="#">Wydatki grupowe</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <div class="btn-group custom-btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span sec:authentication="name"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/auth/profile">Profil</a></li>
                                        <li><a href="/auth/friends">Znajomi</a></li>
                                        <li><a href="#">Grupy</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/auth/invites">Powiadomienia</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li sec:authorize="isAuthenticated()"><a href="/logout">Wyloguj się</a></li>
                            <li sec:authorize="isAnonymous()"><a href="/login">Zaloguj się</a></li>
                            <li sec:authorize="isAnonymous()"><a href="/register">Zarejestruj się</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid" id="messages" th:with="notifyMessages=${session[T(com.ootb.service.infotainment.notification.NotificationService).NOTIFY_MSG_SESSION_KEY]}">
                <div class="alert inline" th:each="msg : ${notifyMessages}" th:classappend="${#strings.toLowerCase(msg.cssClass)}" >
                    <strong th:text="${msg.strongText}"></strong>&nbsp;<div th:text="${msg.text}"></div>
                </div>
                <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(com.ootb.service.infotainment.notification.NotificationService).NOTIFY_MSG_SESSION_KEY)}" class="invisible"></span>
            </div>
        </header>

        <footer class="container-fluid text-center panel-footer" th:fragment="site-footer">
            <div class="copyrights" style="margin-top:25px;">
                <p>Adam Sabeł © 2016, All Rights Reserved
                    <br/>
                    <span>Web Design By: Adam Sabeł</span></p>
            </div>
        </footer>
    </body>
</html>
